.StoreHeroBody{
	background-color: #f5e4c9;
	height: 100vh !important;
	
}
.heroMain{
}
.editBtn{
	right: 10px !important;
    position: absolute !important;
}
.editContent{
	border: 2px solid black;
    padding: 6px;
    border-radius: 10px;
}