.modal-dialog{
    max-width: 70% !important;
}
.editshowImg{
    height: 300px !important;
    width: 100%;
    object-fit: contain;
}
.ProductDetail{
    line-height: 10px;
}
.editBtn{
	right: 10px !important;
    position: absolute !important;
}
.editContent{
	border: 2px solid black;
    padding: 6px;
    border-radius: 10px;
	line-height: 25px !important;
}
.editortext{
    width: 64vw;
}