.prevBtn{
	margin-right: 2% !important;
}
.textfield {
	width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
}
.colorSelect{
	border-style:none;
}
.ck-editor__editable_inline{
	height: 48vh;
}
.css-yk16xz-control{
	border-style: none !important;
	border-bottom: 1px solid #949494 !important;
}
.prevImg{
	height: 200px;
	width: 200px;
}
.legend{
	background-color: rgba(244, 242, 247, 0.8) !important;
	color: black !important;
	opacity: 1 !important;
	bottom: 0px !important;
	padding: 0px !important;
}
.prevImgDiv{
	display: inline-block;
}
.prevImage{
	border: 1px solid black;
	width: 100px;
	margin-right: 3px;
	margin-left: 3px;
	padding: 2%;

}
.mainPrevImgThumbnail{
	height: 50px;
	width: 50px;
}