.sidenavlist{
	background-color: #3F51B5 !important;
	color: white !important;
	border: none !important
}
.mainSide{
	background-color: #3F51B5 !important;
	color: white !important;
	height: 93.5vh
}

.active{
	background-color:white !important;
	color:   #3F51B5!important;
}
.sideNavCursor{
	cursor: pointer;
}

.HeadNav{
	background-color: #0E6ACC !important;
}