.shoppingNavbar{
    background-color: #0981e3;
    position: fixed;
    top: 0px;
    width: 100%;
}
.searchBar{
   display: flex;  
}
.searchBtn, .searchInuput{
    color: white !important;
    font-size: large !important;
    border-radius: 10px !important;
    margin: 4px !important; 
    border: 1px solid white !important;
}
.footerNavbar{
    bottom: 0px;
    position: fixed;
    background-color: #0981e3;
    color: white;
    width: 100%;
}
.activeTab{
    border-top: 3px solid #09d8e3;
    color: #09d8e3;
}
.fontIcon{
    margin: 10px;
}
.CatagoriesSection{
    top: 13%;
    position: absolute;
    height: 8%;
    overflow-x: auto;
    white-space: nowrap; 
    width: 100%;
    /* background-color: #0981e3; */
}
.CatagoriesSection::-webkit-scrollbar {
    display: none;
}
.catagoryImg{
	height: 100%;
	width: 100%;
}
.catagoryImgdiv{
	width: 50px;
	display: inline-block;
}